<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lobby.Properties.Settings.hotelConnectionString" connectionString="Data Source=GABRIEL\lobbyServer;Initial Catalog=lobby;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lobby.Properties.Settings.hotelConnectionString1"
            connectionString="Data Source=GABRIEL\lobbyServer;Initial Catalog=lobby;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lobby.Properties.Settings.hotelConnectionString2"
            connectionString="Data Source=GABRIEL\lobbyServer;Initial Catalog=lobby;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="lobby.Properties.Settings.lobbyConnectionString" connectionString="Data Source=GABRIEL\lobbyServer;Initial Catalog=lobby;User ID=sa;Password=lobbypms"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>